h1 {
  font-size: 40px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: 200px;
  height: 200px;
  background-color: orange;
  border: 1px solid black;
}
.square:hover {
  cursor: pointer;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
